body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#main{
    height:450px ;
    width: 550px;
    border: 5px solid black;
    margin: auto;
    margin-top:150px ;
    background:plum;
    text-align:center; 
}
#rules{
    text-align: justify;
    margin-left: 25px;
}


